/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ccc;
}

/* HEADER */
header {
  background-color: #161d23;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 400px;
  object-fit: contain; 
}

/* INTRO */
.intro {
  padding: 20px 20px 0 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  line-height: 1.4rem;
}

.intro h1 {
  font-size: 2em;
  margin-bottom: 10px;
  line-height: 2rem;
}


/* MAIN */
.part1main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  place-items: center;
  padding: 0 30px ;
  max-width: 900px;
  margin: 0 auto; 
}

.maintext {
  text-align: center;
}

h2{
  text-align: center;
}

.projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.projects img {
  max-width: 100%;
  height: auto;
  max-height: fit-content;
  display: block;
}

.part1main p{
  font-size: 1.2rem;
  text-align:center;
  border: 1px #ccc solid;
  border-radius: 8px;
  padding: 10px 5px;
}

/* FOOTER */
footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #ccc;
  font-size: 2em;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: white;
}

@media (min-width: 550px) {
  .part1main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects ul {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    max-width: 800px;
  }

  .projects li {
    flex: 1;
    text-align: center;
    max-width: 250px;
  }

  .part1main p {
    text-align: center;
    max-width: 800px;
  }

}
