*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-dark: #222222;
    --gray-medium: #2d2d2d;
    --gray-light: #3d3d3d;
    --body-black: #141414;
    --white-soft: #f2f2e9;
}

html{
    height: 100%;
}

body {
    background-color: var(--body-black);
    color: var(--white-soft);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    "aside header"
    "aside main"
    "footer footer";
}

/* ASIDE */
aside{
    grid-area: aside;
    background-color: var(--gray-dark);
    padding: 2rem 2rem;
}

.unordered-list{
    margin: 0;
    padding: 0;
}

.nav-item-anchor{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-item-nav{
    list-style: none;
}

.dash-divider{
    height: 20px;
    width: 20px;
}

.icon{
    width: 30px;
    fill: var(--white-soft);
}

.nav-item-text{
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-item-text-big{
    font-size: 2.5rem;
}

.icon-big{
    width: 60px;
}

/* HEADER */
header{
    grid-area: header;
    background-color: var(--gray-light);
}

.header-text p{
    margin: 0;
}
.site-header{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.header-img{
    align-self: flex-start;
}

.profile-pic{
    width: 80px;
    border-radius: 40px;
    border: 2px solid var(--gray-medium);
}




main{
    grid-area: main;
    background-color: var(--gray-medium);
}

footer{
    grid-area: footer;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.footer-text{
    margin: 0;
}

@media (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px 4fr 1fr;
        grid-template-areas:
        "header header"
        "aside aside"
        "main main"
        "footer footer";
        align-items: center;
    }

    aside{
    padding: auto 2rem;
    }

    .unordered-list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .nav-icon{
        width: 50px;
        height: auto;
        fill: var(--white-soft);
        background-color: var(--gray-light);
        padding: 5px;
        border-radius: 8px;
        border: 1px solid var(--white-soft);
    }

    .nav-item-text{
        display: none;
    }
}