*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-dark: #222222;
    --gray-medium: #28292b;
    --gray-light: #3d3d3d;
    --body-black: #141414;
    --white-soft: #f2f2e9;
    --transition-fast: 0.5s ease;
    --scale-hover: 1.02;
}

html{
    height: 100%;
}

body {
    background-color: var(--body-black);
    color: var(--white-soft);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* I HATE BOOTSTRAP*/
p, h1, h2, h3{
    margin: 0;
}

.grid-container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 120px 1fr 80px;
    grid-template-areas:
    "aside header"
    "aside main"
    "footer footer";
}

/* ASIDE */
aside{
    grid-area: aside;
    background-color: var(--gray-medium);
    padding: 2rem 2rem;
    border: 1px solid var(--gray-light);
}

.unordered-list{
    margin: 0;
    padding: 0;
}

.nav-item-anchor{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-item-nav{
    list-style: none;
}

.dash-divider{
    height: 20px;
    width: 20px;
}

.icon{
    width: 30px;
    fill: var(--white-soft);
}

.nav-item-text{
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-item-text-big{
    font-size: 2.5rem;
}

.icon-big{
    width: 60px;
}

/* HEADER */
header{
    height: 100%;
    grid-area: header;
    background-color: var(--gray-dark);
    border: 1px solid var(--gray-light);
}

.header-text p{
    margin: 0;
}

.site-header{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header-img{
    align-self: flex-start;
}

.profile-pic{
    width: 80px;
    border-radius: 40px;
    border: 2px solid var(--gray-medium);
}

/* MAIN */
main{
    grid-area: main;
    background-color: var(--gray-dark);
    height: 100%;
    border: 1px solid var(--gray-light);
}

.main-landing-container{
    padding: 1rem 2rem;
}

/* MAIN LANDING REASONS */
.reasons-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.reasons-title{
    margin-bottom: 10px;
}

.reason-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 15px;
    border: 1px solid var(--white-soft);
    border-left: 10px solid var(--white-soft);
    border-radius: 15px;
    background-color: var(--gray-medium);
    transition: transform var(--transition-fast);
}

.reason-item:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

.reasons-text{
    max-width: 85%;
}

.main-content-icons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-right: 15px;
    align-self: end;
}

.main-content-icon{
    transition: transform var(--transition-fast);
}

.main-content-icon:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

footer{
    grid-area: footer;
    height: 100%;
    background-color: var(--gray-medium);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    border: 1px solid var(--gray-light);

}

.footer-text{
    margin: 0;
}

@media (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 80px 1fr 80px;
        grid-template-areas:
        "header header"
        "aside aside"
        "main main"
        "footer footer";
        align-items: center;
    }

    aside{
    padding: auto 2rem;
    }

    .unordered-list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .nav-icon{
        width: 50px;
        height: auto;
        fill: var(--white-soft);
        background-color: var(--gray-light);
        padding: 5px;
        border-radius: 8px;
        border: 1px solid var(--white-soft);
    }

    .nav-item-text{
        display: none;
    }

    /* MAIN LANDING REASONS */
    .reasons-grid{
    display: flex;
    flex-direction: column;
    }
}